extends layout
block content
  .inner
    H2 Edit Your Account
    form(action="/account" method="POST")
      label(for="name") Name
      input(type="text" name="name" value=user.name)
      lable(for="email") Email
      input(type="email" name="email" value=user.email)
      input.button(type="submit" value="Update Your Account")
